<div class="row">
	<div class="col-12">

		<h4 class="text-muted text-center mt-5">
			{{header}}
		</h4>
	</div>
</div>

<div class="row justify-content-center">
	<div class="col-md-6">

		<div class="card mb-3 mt-3">
		  <img src="/assets/images/{{products.image}}.jpg" class="card-img-top" alt="{{products.name}}">
		  <div class="card-body">
		    <h5 class="card-title">{{products.name}}</h5>
		    <small class="text-muted">{{products.categories}}</small>
		    <p class="card-text">{{products.description}}.</p>
		    <a href="/">
			    <p class="card-text">
			    	<small class="text-muted">Back To List Product</small>
			    </p>
		    </a>
		  </div>
		</div>

	</div>
</div>