<%-include('./templates/head.ejs') %>

<%- include('./templates/navigation.ejs') %>

<%- include('./contents/jumbotron.ejs') %>

<div id="contentApp">    
    <div class="container">
      	<%- include('./contents/HomeContent.ejs') %>
    </div>
</div>

<%- include('./templates/script.ejs')%>