doctype html
html(lang="en")
	head

		meta(charset="utf-8")

		meta(name="viewport" content="width=device-width, initial-scale=1.0")

		link(rel="stylesheet" type="text/css" href="css/styles.css")
		title #{title}
body

h1 #{header}

div(id="main")
	button(id="about") About Dev
	button(id="contact") Contact Dev


script.
	let about = document.querySelector('#about');
	let contact = document.querySelector('#contact');
	about.style.cursor="pointer";
	contact.style.cursor="pointer";
	
	about.addEventListener('click', function(){
		window.location.href='/about';
	})
	contact.addEventListener('click', function(){
		window.location.href='/contact';
	})