<%- include('./partials/head.ejs')%>

<main>
	
	<div class="container">
		
		<div class="row justify-content-center mt-5">

			<div class="col-xs">
				
				<div class="card" style="width: 18rem;">
				  <img src="images/puji2.jpg" class="card-img-top" alt="<%-title%>">
				  <div class="card-body">
				    <h5 class="card-title"><%- header %></h5>
				    <p class="card-text text-justify">
				    	<%- content %><br/>

				    	<span class="blockquote-footer text-right">
				    		<font color="crimson">Salam</font>

				    		<b><%- title %></b>

				    	</span>
				    </p>

				    <button class="btn btn-primary" id="about">About</button>

				    <button class="btn btn-success" id="contact">Contact</button>

				  </div>
				</div>

				<button id="back-home" class="btn btn-info btn-block">Back To Home</button>

			</div>

		</div>

	</div>

</main>

<%- include('./partials/footer.ejs')%>
